<div class="w3-container w3-center">
  <mat-form-field style="width: 90%" appearance="outline">
    <input type="text" placeholder="Skriv in yrke eller plats" autocorrect="off" autocomplete="off" matInput #searchBox id="search-box" (keyup.enter)="search(searchBox.value)" [formControl]="myControl"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="search(searchBox.value)">
      <mat-option *ngFor="let option of autocompleteOptions | async" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="w3-panel w3-red" *ngIf="searchError">Ett fel uppstod vid sökning!</div>
<div *ngIf="(searchResult$ | async) as searchResult">
  <mat-list *ngIf="searchResult.hits.length && !loading">
    <h3 mat-subheader>Annonser: {{ searchResult.total }}</h3>
    <mat-list-item *ngFor="let ad of searchResult.hits">
      <h4 mat-line>{{ad.rubrik}}</h4>
      <p mat-line> {{ad.id}} </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="w3-container w3-center" *ngIf="!searchResult.hits.length && !loading">
    <span>Hittade inga annonser</span>
  </div>
</div>
<div class="w3-container w3-center" *ngIf="loading">
  <span>Söker...</span>
</div>