<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" style="margin: 10px">
  <mat-card>
    <app-search-box (onSearch)="search()" (onChange)="updateTerm($event)" [currentSearch]="currentSearch"></app-search-box>
    <app-criteria-box (onChange)="updateCriterias($event)" [selectedCriterias]="currentSearch.criterias"></app-criteria-box>
  </mat-card>
  <div fxLayout="column" fxLayoutAlign=" center">
    <div *ngIf="searchError">Ett fel uppstod vid sökning!</div>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <div *ngIf="(searchResult$ | async) as searchResult">
    <div *ngIf="searchResult.hits.length && !loading">
      <mat-accordion #statsAccordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stats
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-selection-list #statsGroup>
            <h3 matSubheader>Field</h3>
            <mat-list-option *ngFor="let statValue of searchResult.statsField" [value]="statValue">
              {{ statValue.term }} ({{ statValue.count }})
            </mat-list-option>
            <h3 matSubheader>Group</h3>
            <mat-list-option *ngFor="let statValue of searchResult.statsGroup" [value]="statValue">
              {{ statValue.term }} ({{ statValue.count }})
            </mat-list-option>
            <h3 matSubheader>Occupation</h3>
            <mat-list-option *ngFor="let statValue of searchResult.statsOccupation" [value]="statValue">
              {{ statValue.term }} ({{ statValue.count }})
            </mat-list-option>
          </mat-selection-list>
          <mat-action-row>
            <button mat-button color="primary" (click)="selectStats(statsGroup.selectedOptions.selected)">Spara</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-list>
        <h3 mat-subheader>Annonser: {{ searchResult.total }}</h3>
        <mat-list-item *ngFor="let ad of searchResult.hits">
          <h4 mat-line>{{ad.headline}}</h4>
          <p mat-line> {{ad.id}} </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="!searchResult.hits.length && !loading" fxLayout="column" fxLayoutAlign=" center">
      <span>Hittade inga annonser</span>
    </div>
  </div>
</div>