<mat-form-field fxFill appearance="outline">
  <mat-label>Fritext</mat-label>
  <input type="text" placeholder="Skriv yrke och/eller ort" autocorrect="off" autocomplete="off" matInput #searchBox
    id="search-box" (keyup.enter)="search()" [formControl]="searchBoxControl" [matAutocomplete]="auto" />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAutocomplete($event.option.value)">
    <mat-option *ngFor="let option of autocompleteOptions | async" [value]="option.text">{{option.text}}</mat-option>
  </mat-autocomplete>
</mat-form-field>