<div fxLayout.gt-md="row" fxlayout="column" fxLayoutGap="10px" fxFlex>
  <div>
    <label>Relevans: </label>
    <mat-slider thumbLabel max="1.0" min="0" step="0.1" [(ngModel)]="this.adService.relevanceThreshold"></mat-slider>
  </div>
  <mat-form-field>
    <mat-label>Sortering</mat-label>
    <mat-select [(value)]="this.adService.sortOrder">
      <mat-option *ngFor="let order of this.adService.availibleSortOrders" [value]="order">
        {{order}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Publicerad innan (minuter)" [(ngModel)]="this.adService.publishedAfterMinutes">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Arbetsgivare (separera med ,)" [formControl]="employerControl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kräver körkort</mat-label>
    <mat-select [(value)]="this.adService.drivingLicenseRequired">
      <mat-option *ngFor="let option of this.adService.availibledrivingLicenseRequired" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="this.adService.noEducationDemand">Utan krav på utbildning</mat-checkbox>
  <div>
    <button (click)="this.searchService.search()" mat-raised-button color="primary">Sök</button>
  </div>
</div>
