<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
  <div>
    <label>Relevans: </label>
    <mat-slider thumbLabel max="1.0" min="0" step="0.1" [(ngModel)]="this.adService.relevanceThreshold"></mat-slider>
  </div>
  <mat-form-field>
    <mat-label>Sortering</mat-label>
    <mat-select [(value)]="this.adService.sortOrder">
      <mat-option *ngFor="let order of this.adService.availibleSortOrders" [value]="order">
        {{order}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>