<div *ngIf="(occupationRek | async) as occupationRek">
  <mat-accordion #statsAccordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Yrkesrekommendationer
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let rek of occupationRek">
        {{ rek.title }}
      </div>
      <br>
      <b>Baserat på sökresultatets yrkesgrupper</b>
      <div *ngFor="let profession of includedBase">
        {{ profession.term + " (" + profession.count + ")" }}
      </div>
      <br>
      <b>Exkluderat (under {{ minimumNumberOfAds }} antal annonser)</b>
      <div *ngFor="let profession of exludedBase">
        {{ profession.term + " (" + profession.count + ")" }}
      </div>
      <p>
        <mat-form-field>
          <input type="number" matInput placeholder="Minst antal annonser %" [(ngModel)]="cutOfPercent.value" (ngModelChange)="cutOfPercent.next($event)">
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Antal baserade yrkesgrupper" [(ngModel)]="cutOfCount.value" (ngModelChange)="cutOfCount.next($event)">
        </mat-form-field>
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>