<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" style="margin: 10px">
  <mat-card>
    <app-search-box (onSearch)="searchService.search()" (onChange)="searchService.updateTerm($event)" [currentSearch]="searchService.currentSearch">
    </app-search-box>
  </mat-card>
  <div fxLayout="column" fxLayoutAlign=" center">
    <div *ngIf="searchService.searchError">Ett fel uppstod vid sökning!</div>
    <mat-spinner *ngIf="searchService.loading"></mat-spinner>
  </div>
  <app-search-result [searchResult$]="searchService.searchResult$"></app-search-result>
</div>