<td>
    <!-- <a [href]="'https://www.arbetsformedlingen.se/For-arbetssokande/Platsbanken/annonser/' + adID" target="_blank">{{ad.id}}</a> -->
    33
</td>
<td>
    <!-- {{ad.rubrik}} -->
    44
</td>
<td>
    <!-- {{ad.yrkesroll.namn}} -->
    55
</td>
<td>
    <!-- {{ad.sistaAnsokningsdatum | date : "MM MMM"}} -->
    66
</td>
<td>
    <!-- {{ad.erbjudenArbetsplats.kommun ? ad.erbjudenArbetsplats.kommun.namn : 'ospecad'}} -->
    77
</td>
<td [class.ej_publicerad]="ad.presentationStatus != 'PUBLICERAD_ANSOKNINGSBAR'">
    <!-- {{ad.presentationStatus}} -->
    88
</td>
