<a [href]="'https://www.arbetsformedlingen.se/For-arbetssokande/Platsbanken/annonser/' + adID" target="_blank">{{adID}}</a>
<span> - </span>
<span *ngIf="(ad$ | async) as ad; else loadingOrError">{{ad.rubrik}} (YRKE: {{ad.yrkesroll.namn}}, STATUS: {{ad.presentationStatus}}, PLATS: {{ad.erbjudenArbetsplats.kommun ? ad.erbjudenArbetsplats.kommun.namn : 'ospecad'}})</span>
<ng-template #loadingOrError>
    
    <ng-container *ngIf="errorObject; else loading">
        Fel vid hämtning eller så har annonsen gått ut!
      </ng-container>
      
      <ng-template #loading>
        Hämtar...
      </ng-template>
</ng-template>