<h2 mat-dialog-title>Inställningar</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Driftsmiljö</mat-label>
    <mat-select [(value)]="this.adService.selectedEnvironment">
      <mat-option *ngFor="let environment of this.adService.jsEnvironements" [value]="environment">
        {{environment.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Stats limit" [(ngModel)]="this.adService.statsLimit">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Result limit" [(ngModel)]="this.adService.adLimit">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Relevance threshold" [(ngModel)]="this.adService.relevanceThreshold">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sortering</mat-label>
    <mat-select [(value)]="this.adService.sortOrder">
      <mat-option *ngFor="let order of this.adService.availibleSortOrders" [value]="order">
        {{order}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="this.adService.contextualAutocomplete">Contextual autocomplete</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Stäng</button>
</mat-dialog-actions>